

{% block title %}Chinook Album '{{ album.title|truncatechars:10 }}' {% endblock title%}

{% block content %}

<div class="row pb-3">
    <h2>{{ album.title }} <small>by {{ album.artist.name }}</small></h2>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Track name</th>
            <th>Composer(s)</th>
            <th>Duration (mins:secs)</th>
            <th>Size (bytes)</th>
            <th>Unit Price (&euro;)</th>
        </tr>
        </thead>
        <tbody>
        {% for track in album.track_set.all %}
            <tr>
                <td>{{ track.name }}</td>
                <td>{{ track.composer }}</td>
                <td>{{ track.milliseconds }}</td>
                <td>{{ track.bytes }}</td>
                <td>{{ track.unitprice }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}
